<h2>Hello from ejercicio</h2>


 <form id="form">
  <input type="text" id="input-msg" />
  <input type="submit" value="Enviar"/>
</form>

<div id="chat-box">
  <p>Cargando los mensajes del chat....</p>
</div> 

<script src="/socket.io/socket.io.js"></script>
<script src="/main.js"></script>