
<main style="background-color: black; color: white;">

<header style="background-color: black; color: white;">

     
   <h1>Welcome</h1>

    </header>

<h2> Hello from index.hdlbrs {{name}}</h2>


{{!-- form basico para subir un archivo --}}
 <form action="/upload" method="POST" enctype="multipart/form-data">
    <label for="archivo" ></label>
    <input type="file" id="archivo" name="archivo" required>
    <button>Subirr archivo</button>
</form> 



</main>
