<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CODERHOUSE GERONIMO GOLLAN</title>

     <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body >

<header >
  <strong>
  Coder house - Geronimo Gollan </strong>
  </header>

{{{body}}} 


<footer id="footertext">
  <p>
    &copy; 2025 Coder House Back End 1 Project by Geronimo Gollan
  </p>
</footer>

  </body>
</html>