<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAIN.HANDLEBARS</title>
  </head>
  <body style="background-color: black; color:white">

<header style="background-color: red;">Header</header>

{{{body}}} 


<footer>
  <p>
    derechos reservados gero &copy; 2025
  </p>
</footer>

<script src="/socket.io/socket.io.js"></script>
<script src="main.js"></script>
<script src="realTime.js" ></script>
  </body>
</html>